<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css')}}">
</head>
<body style="background-color: white">
<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Analysis Market Demand</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="{{url_for('login')}}">login</a>
       </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-success" type="submit">Search</button>
        <button class="btn btn-danger" type="submit">Logout</button>
      </form>
    </div>
  </div>
</nav>
<center><img src="static/logo.png" height="300" width="300" style="margin: 40px; background-color: whitesmoke"></center><br>
<center><p style="font-size: xx-large"><b>Analyse the demand in the market<br>with SMART-AGRI</b></p></center>
<center><p>Market Demand Analysis helps farmers and sellers<br>check crop quality, market price, and demand<br> trends easily. This platform provides updated pricing information <br>and supports better selling decisions for agricultural products.
</p></center>
<br>
{% block body %}
{% endblock %}
<br>
<footer>
    <center><label>Designed by Samiksha @2026</label></center>
</footer>


</body>
</html>